<!DOCTYPE html>
<html>
    <head>
        <title>Cette page sert de placeholder</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../style.css">
    </head>

    <body>
        <nav>
            <ul>
                <li><a href="..">Acceuil</a></li>
                <li><a href="../film/">Le film</a></li>
                <li><a href="#">Dédicace</a></li>
                <li><a href="#">Simulateur d'Abel</a></li>
                <li><a href="#">Où était Abel ?</a></li>
            </ul>
        </nav>

        <header>
            <h1>Bonjour, je suis un template !</h1>
        </header>

        <article>
            <div class="contenu">
                <h2>A quoi je sers ?</h2>
                <p>Bah en sois, pas à grand chose, j'aide juste lors de la création de nouvel page !</p>
                <div class="signature">
                    <p>Rédigé par <span class="auteur">auteur</span> - Le dd/mm/yyyy à hh:mm</p>
                </div>
            </div>
        </article>

        <footer>
            
        </footer>
    </body>
</html>