/* Importe les polices de caractère */
@font-face
{
    font-family: comicSansMS;
    src: url(fonts/comic\ sans\ ms.ttf);
}

/* Permet d'utiliser le "ablicurseur" sur toute la page */
*
{
    cursor:url(img/curseur.png), auto;
}

/* Supprime les marges faite par certain navigateur autour d'une page */
body
{
    margin: 0px;
    padding: 0px;
}

/* Fait en sorte que le menu de navigation utilise la FAMEUSE police "Comic Sans MS"
et qu'elle soit en gras, puis il prend un peu plus de toute la largeure afin d'irriter
l'utilisateur EN PLUS D'UN SATANÉ ESPACE EN HAUT car saperlipopette, c'est qui de développeur à la noix qui sait pas coder,
je vais envoyer une lettre de réclamation moi si ca continue ! (et aussi ca met une jolie couleure de fond :D) */
nav
{
    font-family: comicSansMS;
    font-weight: bold;
    position: sticky;
    z-index: 100;
    top: 5px;
    width: 105%;
    background-color: #15f4ee;
}

/* Supprimer le style appliqué par défaut aux listes non ordonné, mais uniquement dans le menu de navigation */
nav ul
{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

/* Supprime le style par défaut des éléments de liste */
nav li
{
    list-style-type: none;
    float: left;
}

/* Supprime les styles par défaut d'un lien */
nav a
{
    display: inline-block;
    text-decoration: none;
    padding: 5px 30px;
    background-image: repeating-linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: arcenciel_anim 3s ease-in-out infinite;
    background-size: 400% 100%;
}

/* Assombrie l'arrière plan lorsque notre souris pass sur un élément */
nav li:hover
{
    background-color: #ff08fc;
}

/* Décale légèrement le tout vers le bas afin d'améliorer l'expérience irritateur, et permet de faire un effet ~arc-en-ciel~ 
sur le texte car c'est trop beau les ~arcs-en-ciel~*/
nav li:hover a
{
    padding-top: 7px;
    color: rgb(194, 194, 194);
}

/* Permet d'animer l'arc-en-ciel */
@keyframes arcenciel_anim
{
    0%, 100% {
        background-position: 0%;
    }
    
    50% {
        background-position: 100%;
    }
}

/* Décale légèrement le header vers le bas afin qu'il ne soit pas sur la barre de navigation, puis aligne son texte au centre */
header
{
    margin-top: 10px;
    text-align: center;
}

/* Fait en sorte que les articles ne prennent pas toute la place et sois bien centré */
article
{
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border: solid;
    border-radius: 10px;
}

/* Rajoute un espace en bas des titres d'articles */
article h2
{
    margin: 5px 0px;
}

/* Supprime les marges des paragraphes */
article p
{
    margin: 0px;
}

/* Fait en sorte que le contenu ne soit pas trop près des bordures */
.contenu
{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

/* Pour signer les articles */
.signature
{
    font-size: 12px;
    text-align: left;
    margin-top: 10px;
}

/* Souligne le nom de l'auteur */
.auteur
{
    text-decoration: underline;
}

/* Fait en sorte que les vidéos youtubes prennent 80% de la place de l'article tout en étant responsive, padding-bottom = width/<rapport d'aspect de la vidéo> */
.video-ytb
{
	position: relative;
	padding-bottom: 45%;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

/* Fait en sorte que la vidéo prennent tout l'espace qui lui est attribué */
.video-ytb iframe
{
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



/* Pour ajouter des emojis dans un texte */
.emote
{
    height: 32px;
    width: auto;
    vertical-align: middle;
}

/* Pour les images des articles */
.article-img
{
    width: 80%;
    height: auto;
}

/* Permet de cacher le texte si il est trop grand et d'éviter les retours à la ligne */
header
{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 20px;
}

/* Permet de faire en sorte que le texte des titres défile  */
header h1
{
    display: inline-block;
    animation: scrollText 5s alternate linear infinite;
    margin-bottom: 0px;
}

header p
{
    margin: 0px;
}

/* Animation, fait défiler le titre en alternant la gauche et la droite (ping-pong) */
@keyframes scrollText
{
    0%   { transform: translate(100%, 0); }
    100% { transform: translate(-100%, 0); }
}

/* 
A utiliser pour qu'il aille jusqu'au bout, mais sinon c'est trop joli je trouve
header h1
{
    display: inline-block;
    padding-left: 100%;
    animation: scrollText 20s linear infinite;
}

@keyframes scrollText
{
    0%   { transform: translate(0, 0); }
    50% { transform: translate(-100%, 0); }
    100% { transform: translate(0, 0); }
}
 */

/* Scrollbar customisé pour chrome*/
::-webkit-scrollbar
{
    width: 20px;
}

::-webkit-scrollbar-track
{
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  background-image: url(img/abelTete.png);
  background-position: center;
  background-repeat: space;
  background-size: auto 20px;
  border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover
{
    background: #888; 
    background-image: url(img/abelTete.png);
    background-position: center;
    background-repeat: space;
    background-size: auto 20px;
    border-radius: 16px;
}

/* Scrollbar customisé pour firefox */
html
{
    scrollbar-color: #f415f4 #08ff08;
    scrollbar-width: auto;
}
