/* Importe les polices de caractère */
@font-face
{
    font-family: comicSansMS;
    src: url(fonts/comic\ sans\ ms.ttf);
}

/* Permet d'utiliser le "ablicurseur" sur toute la page */
*
{
    cursor:url(img/curseur.png), auto;
}

/* Supprime les marges faite par certain navigateur autour d'une page */
body
{
    margin: 0px;
    padding: 0px;
}

/* Fait en sorte que le menu de navigation utilise la FAMEUSE police "Comic Sans MS"
et qu'elle soit en gras, puis il prend un peu plus de toute la largeure afin d'irriter
l'utilisateur EN PLUS D'UN SATANÉ ESPACE EN HAUT car saperlipopette, c'est qui de développeur à la noix qui sait pas coder,
je vais envoyer une lettre de réclamation moi si ca continue ! (et aussi ca met une jolie couleure de fond :D) */
nav
{
    font-family: comicSansMS;
    font-weight: bold;
    position: sticky;
    z-index: 100;
    top: 5px;
    width: 105%;
    background-color: #ff08fc;
}

/* Supprimer le style appliqué par défaut aux listes non ordonné, mais uniquement dans le menu de navigation */
nav ul
{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

/* Supprime le style par défaut des éléments de liste */
nav li
{
    list-style-type: none;
    float: left;
}

/* Supprime les styles par défaut d'un lien */
nav a
{
    display: inline-block;
    text-decoration: none;
    padding: 5px 30px;
    color: rgb(194, 194, 194);
}

/* Assombrie l'arrière plan lorsque notre souris pass sur un élément */
nav li:hover
{
    background-color: #15f4ee;
}

/* Décale légèrement le tout vers le bas afin d'améliorer l'expérience irritateur, et permet de faire un effet ~arc-en-ciel~ 
sur le texte car c'est trop beau les ~arcs-en-ciel~*/
nav li:hover a
{
    padding-top: 7px;
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: arcenciel_anim 6s linear infinite;
    background-size: 400% 100%;
}

/* Permet d'animer l'arc-en-ciel */
@keyframes arcenciel_anim {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }

}

/* Décale légèrement le header vers le bas afin qu'il ne soit pas sur la barre de navigation, puis aligne son texte au centre */
header
{
    margin-top: 10px;
    text-align: center;
}

/* Fait en sorte que les articles ne prennent pas toute la place et sois bien centré */
article
{
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border: solid;
    border-radius: 10px;
}

/* Rajoute un espace en bas des titres d'articles */
article h2
{
    margin: 5px 0px;
}

/* Supprime les marges des paragraphes */
article p
{
    margin: 0px;
}

/* Fait en sorte que le contenu ne soit pas trop près des bordures */
.contenu
{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

/* Fait en sorte que le trailer prenne une résolution de 960 par 540 pixel */
.trailer
{
    width: 960px;
    height: 540px;
}

/* Pour ajouter des emojis dans un texte */
.emote
{
    height: 32px;
    width: auto;
    vertical-align: middle;
}

/* Fait que l'affiche prenne une largeur de 960px */
.affiche
{
    width: 960px;
    height: auto;
}

/* Permet de cacher le texte si il est trop grand et d'éviter les retours à la ligne */
header
{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

/* Permet de faire en sorte que le texte des titres défile  */
header h1
{
    display: inline-block;
    animation: scrollText 10s linear infinite;
} 

/* Animation, fait défiler le titre en alternant la gauche et la droite (ping-pong) */
@keyframes scrollText
{
    0%   { transform: translate(66.6%, 0); }
    50% { transform: translate(-66.6%, 0); }
    100% { transform: translate(66.6%, 0); }
}

/* A utiliser pour qu'il aille jusqu'au bout, mais sinon c'est trop joli je trouve */
/* header h1
{
    display: inline-block;
    padding-left: 100%;
    animation: scrollText 20s linear infinite;
}

@keyframes scrollText
{
    0%   { transform: translate(0, 0); }
    50% { transform: translate(-100%, 0); }
    100% { transform: translate(0, 0); }
}
*/