body
{
    text-align: center;
}

.slidecontainer
{
    width: 100%;
}

.gauche
{
    display: inline;
    position: fixed;
    left: 0;
    margin-left: 1%;
}

.droite
{
    display: inline;
    position: fixed;
    right: 0;
    margin-right: 1%;
}

.slider
{
    -webkit-appearance: none;
    width: 80%;
    height: 10px;
    background: rgb(74, 236, 33);
    background-image: url(../img/abelTete.png);
    background-position: center;
    background-size: auto 20px;
    border-radius: 5px;
    outline: none;
}
